@use "sass:list";
@import "variables";

@mixin base() {
  a[href*="/users/"] {
    font-weight: bold;
    padding: .2em;
  }
}

@mixin invoke($unit) {
  @for $index from 0 through length($colors) * $unit {
    a[href$="/users/#{$index}"] {
      $color: list.nth($colors, $index % list.length($colors) + 1);

      background: rgba($color, .6);
    }
  }
}
