@use "sass:color";

@function get-hex($color) {
  @return red($color), green($color), blue($color);
}

@mixin theme($color) {
  $accent: color.adjust($color, $lightness: -30%);
  $base: color.adjust($color, $lightness: 45%);
  $base2: color.adjust($color, $lightness: 40%);
  $link: color.adjust($color, $lightness: -20%);
  $sub1: color.adjust($color, $saturation: -35%);

  body:not(.Page--error, .Page--add-space).theme-default {
    --defaultColorMain: #{$color};
    --defaultColorAccent: #{$accent};
    --defaultColorAccent-rgb: #{get-hex($accent)};
    --defaultColorBase: #{$base};
    --defaultColorBase-rgb: #{get-hex($base)};
    --defaultColorBase-2: #{$base2};
    --defaultColorLink: #{$link};
    --defaultColorSub-1: #{$sub1};
  }
}
